
body {
    margin: 0; /* Haalt standaard witruimte weg */
    background-color: #f9f9f9; 
}

/* Header */
header {
    background-color: #072d0f;
    color: rgb(46, 222, 152); 
    padding: 1rem; /* Ruimte binnen de header toevoegen */
    text-align: center;
    display: grid;
    grid-template-columns: 80px 1fr; 
    grid-template-rows: auto auto;                              
   
    h1 {
    margin: 0; 
    grid-column: 2 / 3;   /* tweede kolom */
    grid-row: 1 / 2;      /* eerste rij */
}

}



/* Navigatie */
nav {
  
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-around; /* ruimte tussen icoontjes */
  flex-direction: row;

  nav a {
    margin: 0.5rem; 
    text-decoration: none; /* Haalt onderlijning weg */
    font-size: 1.5rem; 
}

  @media (min-width: 800px) {
  
    top: 0;
    bottom: 0;
    width: 80px;
    flex-direction: column;
 }
}


/* Afbeeldingen in grid */
main section {
    display: grid; 
    grid-template-columns: 1fr 1fr 1fr; 
    gap: 10px; 
    padding: 1rem; 
}


main {
    padding-left: 100px; /* ruimte voor verticale nav */
    padding-bottom: 0;

    section {
         grid-template-columns: 1fr 1fr 1fr;
      }
  
  }


main img {
    width: 100%; 
    aspect-ratio: 1/1; /* maakt het vierkant */
    height: auto; 
    border-radius: 10px; 
}


.logo img {
    height: 50px;       
    width: auto;    
    margin-bottom: 0.5rem;
}


/* Logo */

.logo {
    grid-column: 1 / 2;   /* logo in de eerste kolom */
    grid-row: 1 / 3
}